/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
/* Slider */
.slider {
    padding-bottom: 70px;
}
.car_id {
    bottom: -60px;
}
.car_id [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.car_text {
    margin-top: 15px;
}
.car_text h1 {
    font-size: 25px;
    margin-bottom: 10px !important;
    margin-top: 0px;
}
.car_text h2 {
    font-size: 18px;
    margin-right: 0px;
    margin-bottom: 10px;

}
.car_text p {
    margin-right: 0px;
    margin-bottom: 15px;
}
.car_icon li {
    margin-right: 10px!important;
}
.car_icon li i{
    font-size: 30px;
    margin-right: 10px!important;
}
/* Feature */
.feature{
    padding-top: 50px;
    padding-bottom: 70px;
}
.cm_title{
    font-size: 25px;
}
.cm_text{
    font-size: 18px;
}
.s_feature{
    margin-top: 30px;
    text-align: center;
}
.f_icon i{
    font-size: 40px;
    margin-bottom: 15px;
}
/* Contact */
.contact{
    padding-top: 50px;
    padding-bottom: 70px;
}
.u_email{
    padding: 10px 25px;
}
/* footer */
.footer{
    padding-bottom: 50px;
}
.f_1{
    color: white;
    text-align: center;
    
}
.f_2{
    margin-top: 20px;
    text-align: center;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
/* Header Start */
.menu ul li a {
    padding: 10px 0 0 !important;
    text-align: right;
}
/* Header End */
/* Slider Start */
.car_text {
    margin-top: 40px;
}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 .menu ul li a {

    padding: 10px 0 0 !important;
    text-align: right;
}
/* Slider */
.slider {
    padding-bottom: 70px;
}
.car_id {
    bottom: -60px;
}
.car_id [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.car_text {
    margin-top: 25px;
}
.car_text h1 {
    margin-bottom: 10px !important;
    margin-top: 0px;
}
.car_text h2 {
    margin-right: 0px;
    margin-bottom: 15px;

}
.car_text p {
    margin-right: 0px;
    margin-bottom: 15px;
}
.car_icon li {
    margin-right: 20px!important;
}
.car_icon li i{
    font-size: 35px;
}
/* Feature */
.feature{
    padding-top: 50px;
    padding-bottom: 70px;
}
.cm_title{
    font-size: 25px;
}
.cm_text{
    font-size: 18px;
}
.s_feature{
    margin-top: 30px;
    text-align: center;
}
.f_icon i{
    margin-bottom: 15px;
    font-size: 40px;
}
.contact{
    
    padding-top: 80px;
    padding-bottom: 100px;
}
/* Footer */
.f_1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.f_2{
    text-align: center;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
/* Header Start */
.menu ul li a {
    padding: 10px 0 0 !important;
    text-align: right;
}
/* Header End */
/* Slider Start */
.car_text {
    margin-top: 40px;
}
.footer{
    padding-bottom: 100px;
}
}





/* feature */
.feature{
    padding-top: 80px;
    padding-bottom: 100px;
}
.s_feature{
    margin-top: 45px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}